openapi: 3.0.0
info:
  title: gis
  version: 1.0.0
servers:
  - url: https://asia-southeast2-awangga.cloudfunctions.net
paths:
  /logiccoffee/data/roads:
    post:
      tags:
        - default
      summary: Roads
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                long: 107.57568901934862
                lat: -6.87442753267392
                max_distance: 600
      parameters:
        - name: Login
          in: header
          schema:
            type: string
          example: >-
            v4.public.eyJhbGlhcyI6IkZhdGh5YSBGYXRoaW1haCBBenphaHJhIiwiZXhwIjoiMjAyNC0xMi0xNFQwMTo1ODoxMVoiLCJpYXQiOiIyMDI0LTEyLTEzVDA3OjU4OjExWiIsImlkIjoiNjI4NTc1OTA0MzY4MCIsIm5iZiI6IjIwMjQtMTItMTNUMDc6NTg6MTFaIn0Tw5chRvj8owXa-mqv40cRG-IhoZMlX70cdwaFNjLGORNry7FLsGGupdtZR5tUIrd-kiNh6toocte2KeS7V14H
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /logiccoffee/data/region:
    post:
      tags:
        - default
      summary: Region
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                long: 107.57568901934862
                lat: -6.87442753267392
      parameters:
        - name: Login
          in: header
          schema:
            type: string
          example: >-
            v4.public.eyJhbGlhcyI6IkZhdGh5YSBGYXRoaW1haCBBenphaHJhIiwiZXhwIjoiMjAyNC0xMi0xNFQwMTo1ODoxMVoiLCJpYXQiOiIyMDI0LTEyLTEzVDA3OjU4OjExWiIsImlkIjoiNjI4NTc1OTA0MzY4MCIsIm5iZiI6IjIwMjQtMTItMTNUMDc6NTg6MTFaIn0Tw5chRvj8owXa-mqv40cRG-IhoZMlX70cdwaFNjLGORNry7FLsGGupdtZR5tUIrd-kiNh6toocte2KeS7V14H
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
